<div ng-include="'components/navbar/navbar.html'"></div>
<div id="content-container" class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="page-header">
        <h2 id="channel-name">{{channel.name}}</h2>
      </div>
      <p ng-show="isAdmin()" editable-textarea="channel.info">{{channel.info}}</p>
      <p ng-hide="isAdmin()">{{channel.info}}</p>
      <p>{{channel.host.name}}</p>
    </div>
  </div>
  <div class="row">
    <!-- Chat Stuff -->
    <div class="col-md-10 col-md-offset-1">
      <div id="chat-panel" class="panel panel-default">
        <div class="panel-heading">Chat</div>
        <div class="panel-body">
          <div id="chat-messages" scroll-glue>
            <ul class="list-group">
              <li class="list-unstyled" ng-repeat="chatmessage in chatmessages | orderBy: 'timestamp'">
                <img class="pull-left chat-img img-responsive img-circle" ng-src="{{chatmessage.user.avatar}}">
                <button type="button" ng-show="admin" class="close pull-right" ng-click="deleteMessage(chatmessage)">&times;</button>
                <h6 class="text-left">
                  <a ng-href="/profile/{{ chatmessage.user._id }}"><strong>{{chatmessage.user.name}}</strong></a>
                </h6>
                <p>{{chatmessage.message}}</p>
              </li>
            </ul>
          </div>
          <div>
            <div ng-show="isLoggedIn()" id="chat-input">
              <form class="">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Enter a new message here." ng-model="newMessage">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" ng-click="addMessage()">Send</button>
                  </span>
                </div>
              </form>
            </div>
            <div ng-show="!isLoggedIn()" id="chat-input">
              <a ng-href="/login" class="btn btn-primary btn-block">Login to Chat</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Chat Stuff -->
  </div>
  <!-- Video information -->
  <div class ="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">Channel Information</div>
        <div class="panel-body">
          <p><i class="glyphicon glyphicon-user"></i>: 0</p>
        </div>
      </div>
    </div>
  </div>
</div>
